.neon-button {
    position: relative;
    background-color: black;
    color: white;
    padding: 10px 20px;
    height: 100px;
    width: 100px;
    border: none;
    border-radius: 100%;
    font-size: 16px;
    text-transform: uppercase;
    overflow: hidden; 
  }
  
  .neon-button::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px; 
    background: linear-gradient(to right, deepskyblue, blueviolet); 
    opacity: 1;
    filter: blur(10px);
    animation: neon-glow 1s ease-in-out infinite alternate;
  }
  
  .neon-button:hover::after {
    opacity: 1;
  }
  
  @keyframes neon-glow {
    0% {
      opacity: 0.7;
      filter: blur(5px);
    }
    100% {
      opacity: 1;
      filter: blur(10px);
    }
  } 

