.image-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.project-image {
    width: 100%;
    height: auto;
    transition: transform 4s linear;
}

.image-wrapper:hover .project-image {
    animation: scrollAnimation 6s infinite alternate;
}

@keyframes scrollAnimation {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(calc(-100% + 400px));
       
    }

    100% {
        transform: translateY(0);
    }
}